<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Classification Result</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .card {
            margin-top: 20px;
            border: none;
        }
        .image-container {
            width: 100px;
            height: 100px;
            background-size: cover;
            background-position: center;
            margin: 0 auto;
        }
        .card-body {
            padding: 10px;
        }
        .btn-primary {
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mt-5 text-center">Image Classification Result</h1>
        <div class="card mx-auto" style="width: 50%;">
            <div class="image-container" style="background-image: url('{{ url_for('static', filename='uploads/' ~ image_path.split('/')[-1]) }}');"></div>
            <div class="card-body text-center">
                <h5 class="card-title">Classification Result</h5>
                <p class="card-text">Image '{{ image_path }}' is classified as '<span class="badge badge-info">{{ predicted_class }}</span>'.</p>
                <a href="{{ url_for('index') }}" class="btn btn-primary">Back to Home</a>
            </div>
        </div>
    </div>
</body>
</html>
